.button{
    -fx-background-color: #E6EDEF;
    -fx-border-color: #26695C;
    -fx-text-fill: #000000;
}
.button :hover{
    -fx-background-color: #26695C;
    -fx-text-fill: #FFFFFF;
}
.button :pressed{
    -fx-text-fill: white;
}
.button :selected{
    -fx-text-fill: white;
}
